<p id="notice"><%= notice %></p>

<p>
  <b>State:</b>
  <%= @course_state.state %>
</p>

<p>
  <b>User:</b>
  <%= @course_state.user_id %>
</p>

<p>
  <b>Course:</b>
  <%= @course_state.course_id %>
</p>

<p>
  <b>State Saved Time:</b>
  <%= @course_state.state_saved_time %>
</p>


<%= link_to 'Edit', edit_course_state_path(@course_state) %> |
<%= link_to 'Back', course_states_path %>
